@font-face {
  font-family: music;
  src: url("../fonts/FRSCRIPT.ttf"), url("../fonts/FRSCRIPT.woff");
  
}

@font-face {
  font-family: text;
  src: url("../fonts/HelveticaNeueLight.ttf"),
    url("../fonts/HelveticaNeueLight.woff");
}
