*:focus {
  outline: none;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.dl2-menuwrapper .dl2-menu a {
  pointer-events: none;
  cursor: default;
}

.dl2-menuwrapper .dl2-menu.dl2-menuopen a {
  pointer-events: auto;
  cursor: pointer;
}

/*all*/
.dl2-menuwrapper {
  width: 200px;
}

.dl2-menuwrapper {
  float: left;
  position: absolute;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  -moz-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
}

.dl2-menuwrapper button {
  display: none;
}

.dl2-menuwrapper ul ul {
  border: none;
}

.dl2-menuwrapper ul {
  background: ghostwhite;
  border: 1px solid #000;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  padding: 0;
}

.dl2-menuwrapper li a {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: relative;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 0.9em;
  outline: none;
  padding: 0.5em;
}

.no-touch .dl2-menuwrapper li a:hover {
  background-color: rgba(250, 250, 255, 1);
}

.dl2-menuwrapper li.dl2-back > a {
  padding-left: 2em;
}

.dl2-menuwrapper li > a:not(:only-child):after {
  position: absolute;
  top: 0.5em;
  line-height: 2em;
  font-family: icomoon;
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\e000";
}

.dl2-menuwrapper li.dl2-back:after {
  position: absolute;
  top: 0.5em;
  line-height: 1.5em;
  font-family: icomoon;
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\e000";
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dl2-menuwrapper li > a:after {
  right: 0.5em;
}

.dl2-menuwrapper li.dl2-back:after {
  left: 0.3em;
}

.dl2-menuwrapper li,
.dl2-menuwrapper li:last-child {
  position: relative;
}
.dl2-menuwrapper .dl2-menu.dl2-menu-toggle {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dl2-menuwrapper .dl2-menu.dl2-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/* Hide the inner submenus */
.dl2-menuwrapper li .dl2-submenu {
  display: none;
}

.dl2-menu.dl2-subview li,
.dl2-menu.dl2-subview li.dl2-subviewopen > a,
.dl2-menu.dl2-subview li.dl2-subview > a {
  display: none;
}

.dl2-menu.dl2-subview li.dl2-subview,
.dl2-menu.dl2-subview li.dl2-subview .dl2-submenu,
.dl2-menu.dl2-subview li.dl2-subviewopen,
.dl2-menu.dl2-subview li.dl2-subviewopen > .dl2-submenu,
.dl2-menu.dl2-subview li.dl2-subviewopen > .dl2-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl2-menuwrapper > .dl2-submenu {
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0;
}

.dl2-menuwrapper .dl2-menu {
  font: "Arial Black", Gadget, sans-serif;
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
}

/* Animation classes for moving out and in */

.dl2-menu.dl2-animate-out-5 {
  -webkit-animation: MenuAnimOut5 0.4s ease;
  -moz-animation: MenuAnimOut5 0.4s ease;
  animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut5 {
  100% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
}

@-moz-keyframes MenuAnimOut5 {
  100% {
    -moz-transform: translateY(40%);
    opacity: 0;
  }
}

@keyframes MenuAnimOut5 {
  100% {
    transform: translateY(40%);
    opacity: 0;
  }
}

.dl2-menu.dl2-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease;
  -moz-animation: MenuAnimIn5 0.4s ease;
  animation: MenuAnimIn5 0.4s ease;
}
.dd-menu.dd-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease;
  -moz-animation: MenuAnimIn5 0.4s ease;
  animation: MenuAnimIn5 0.4s ease;
}
@-webkit-keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes MenuAnimIn5 {
  0% {
    -moz-transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes MenuAnimIn5 {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.dl2-menuwrapper > .dl2-submenu.dl2-animate-in-5 {
  -webkit-animation: SubMenuAnimIn5 0.4s ease;
  -moz-animation: SubMenuAnimIn5 0.4s ease;
  animation: SubMenuAnimIn5 0.4s ease;
}
@-webkit-keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
}
@-moz-keyframes SubMenuAnimIn5 {
  0% {
    -moz-transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn5 {
  0% {
    transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.dl2-menuwrapper > .dl2-submenu.dl2-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease;
  -moz-animation: SubMenuAnimOut5 0.4s ease;
  animation: SubMenuAnimOut5 0.4s ease;
}
.dl2-menuwrapper > .dl2-submenu.dl2-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease;
  -moz-animation: SubMenuAnimOut5 0.4s ease;
  animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
}

@-moz-keyframes SubMenuAnimOut5 {
  0% {
    -moz-transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -moz-transform: translateZ(-200px);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut5 {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-200px);
    opacity: 0;
  }
}

/* No JS Fallback */
.no-js .dl2-menuwrapper .dl2-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.no-js .dl2-menuwrapper li .dl2-submenu {
  display: block;
}

.no-js .dl2-menuwrapper li.dl2-back {
  display: none;
}

.no-js .dl2-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0);
}

.no-js .dl2-menuwrapper li > a:not(:only-child):after {
  content: "";
}

@media screen and (max-width: 250px) {
  /*all*/
  .dl2-menuwrapper {
    width: 160px;
  }
}
